blinker==1.8.2
cachetools==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
htbuilder==0.6.2
idna==3.7
numpy==2.0.1
pillow==10.4.0
protobuf==5.27.3
requests==2.32.3
streamlit==1.37.1
toml==0.10.2
tornado==6.4.1
typing_extensions==4.12.2
urllib3==2.2.2
